#presentacion {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url("assets/abstract-wildflowers-watercolor-desktop-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#perfil {
    border-radius: 50%;
    width: 500px;
}

#cuadro {
    background-color: #f4eee1;
}

.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url("assets/Clondegoogle.jfif");
}

#proyecto-2{
    background-image: url("assets/Miprimerpagina.jfif");
}