#cabecera {
    background-color: #BF8969;
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}

#presentacion {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("assets/abstract-wildflowers-watercolor-desktop-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Spectral", serif;
    font-weight: 900;
    font-style: italic
}

body {
    background-color: #EAE1CA;
}

#Texto {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}
#perfil {
    border-radius: 50%;
    width: 400px;
}

#cuadro {
    background-color: #f4eee1;
}

#icono {
    background-color: black;
}

#Habilidades {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal
}

#Proyectos {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal
}

.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url("assets/Clondegoogle.jfif");
}

#proyecto-2{
    background-image: url("assets/b9da4fbb57a970fa479dd15dd8f6d2e2.jpg");
}

#Testimonios {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal
}

#contacto {
    background-color: #BF8969;
}
