#cabecera {
    background-color: #BF8969;
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}

#presentacion {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("assets/abstract-wildflowers-watercolor-desktop-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Spectral", serif;
    font-weight: 900;
    font-style: italic
}

.btn {
    padding: 1.3rem 10rem;
    background: #DC3545;
    border: 0.1rem solid #df3d4d;
    cursor: pointer;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
}

.btn::before {
    content: "Contáctame";
    position: absolute;
    color: white;
    top: 20%;
    left: 40%;
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    transition: .2s ease;
}

.btn::after {
    content: "fc9471023@gmail.com";
    position: absolute;
    color: black;
    top: 10%;
    left: 20%;
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    transition: .2s ease;
    opacity: 0;
}

.btn:hover::before{
    opacity: 0;
}

.btn:hover::after{
    opacity: 1;
}

body {
    background-color: #EAE1CA;
}

#Texto {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}
#perfil {
    border-radius: 50%;
    width: 400px;
}

#cuadro {
    background-color: #f4eee1;
}

#icono {
    background-color: black;
}

#Habilidades {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal
}

#Proyectos {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal
}

.ps-3 {
color: #6d4b37;
text-decoration: none;
}

.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url("assets/Clondegoogle.jfif");
}

#proyecto-2{
    background-image: url("assets/b9da4fbb57a970fa479dd15dd8f6d2e2.jpg");
}

#proyecto-3{
    background-image: url("assets/c67a5a4b04b99c79d4f7deb8fabe9835.jpg");
}
.ps-4 {
    color: white;
    text-decoration: none;
    }

#Testimonios {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal
}

#contacto {
    background-color: #BF8969;
}
